<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Course</th>
    </tr>
    <tr th:unless="${#lists.isEmpty(courses)}"
        th:each="course : ${courses}">
        <td th:text="${course.cid}">id</td>
       <!-- <td><a th:text="${course.cname}" th:href="@{|/fullCourse/${course.cid}|}">name</a>  </td>-->
        <td th:text="${course.cname}">name</td>
    </tr>
</table>
<a href="course">Insert A new Course</a>
</body>
</html>